# Ejercicio con Pandas – Análisis de Asistencia y Desempeño de Personal

### Objetivo:

Simular un análisis del comportamiento de asistencia, desempeño y carga laboral del personal para detectar problemas en la operación diaria y proponer mejoras en la gestión del talento.

### Contexto:

Eres analista en el área de Formación y Desarrollo de Personal de una empresa con más de 100 colaboradores en sucursales. Te han pedido un informe que cruce la **asistencia**, el **rendimiento** y la **asignación de tareas** del personal para mejorar la **eficiencia operativa** y prevenir la **rotación de talento**.

Descarga el archivo ``empleados.csv``.

### Actividades:

**1. Carga y exploración inicial:**

- Lee el archivo ``empleados.csv``.
- Muestra los primeros registros, tipos de datos y estadísticos básicos.

In [17]:
import pandas as pd

df = pd.read_csv('empleados.csv')

In [18]:
df.head()

,id_empleado,nombre,departamento,sucursal,dias_trabajados,tareas_asignadas,tareas_completadas,puntualidad_promedio,calificacion_desempeno
0,101,Empleado 1,Logística,Sucursal C,21,18,2,88.7,3.8
1,102,Empleado 2,Caja,Sucursal B,8,33,13,78.9,1.6
2,103,Empleado 3,RRHH,Sucursal B,22,10,2,73.2,5.0
3,104,Empleado 4,Caja,Sucursal C,12,17,0,83.7,2.1
4,105,Empleado 5,Caja,Sucursal B,8,33,4,76.6,4.9

In [19]:
df.dtypes

id_empleado                 int64
nombre                     object
departamento               object
sucursal                   object
dias_trabajados             int64
tareas_asignadas            int64
tareas_completadas          int64
puntualidad_promedio      float64
calificacion_desempeno    float64
dtype: object

In [20]:
df.describe()

,id_empleado,dias_trabajados,tareas_asignadas,tareas_completadas,puntualidad_promedio,calificacion_desempeno
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,115.500000,14.466667,31.166667,15.566667,81.283333,3.096667
std,8.803408,5.367420,13.001547,12.672760,6.945506,1.102500
min,101.000000,5.000000,10.000000,0.000000,70.000000,1.100000
25%,108.250000,10.250000,18.000000,6.000000,76.775000,2.325000
50%,115.500000,15.000000,33.000000,13.000000,79.400000,3.050000
75%,122.750000,19.000000,43.750000,24.250000,85.625000,3.800000
max,130.000000,22.000000,50.000000,50.000000,97.200000,5.000000

**2. Identifica empleados con baja carga laboral:**

- ¿Quiénes trabajaron menos de 12 días y tienen menos de 15 tareas asignadas?

In [21]:
print(df[(df['dias_trabajados'] < 12) & (df['tareas_asignadas'] < 15)])

    id_empleado       nombre departamento    sucursal  dias_trabajados  \
11          112  Empleado 12         RRHH  Sucursal C                6
29          130  Empleado 30    Logística  Sucursal B               11

    tareas_asignadas  tareas_completadas  puntualidad_promedio  \
11                14                   9                  78.2
29                10                   1                  90.9

    calificacion_desempeno
11                     2.8
29                     3.8

**3. Detecta posibles casos de sobrecarga:**

- Empleados con más de 40 tareas asignadas y menos del 90% de ellas completadas.

In [32]:
df['porcentaje_tareas_completadas'] = df['tareas_completadas'] / df['tareas_asignadas'] * 100

print(df[(df['tareas_asignadas'] > 40) & (df['porcentaje_tareas_completadas'] < 90)])

    id_empleado       nombre departamento    sucursal  dias_trabajados  \
8           109   Empleado 9         RRHH  Sucursal C                8
9           110  Empleado 10         Caja  Sucursal A               22
10          111  Empleado 11    Logística  Sucursal C               16
12          113  Empleado 13         Caja  Sucursal A               14
19          120  Empleado 20    Logística  Sucursal B               12
23          124  Empleado 24       Ventas  Sucursal B               19
24          125  Empleado 25       Ventas  Sucursal C               17
25          126  Empleado 26         RRHH  Sucursal C               13
28          129  Empleado 29    Logística  Sucursal C                5

    tareas_asignadas  tareas_completadas  puntualidad_promedio  \
8                 44                  14                  73.7
9                 44                  14                  80.7
10                42                  25                  97.2
12                48                  12                  89.4
19                43                  22                  90.8
23                46                  35                  76.6
24                44                  12                  86.7
25                49                  31                  82.1
28                44                  27                  77.4

    calificacion_desempeno  porcentaje_tareas_completadas
8                      3.5                      31.818182
9                      3.7                      31.818182
10                     3.1                      59.523810
12                     3.2                      25.000000
19                     4.9                      51.162791
23                     1.6                      76.086957
24                     3.0                      27.272727
25                     3.8                      63.265306
28                     1.9                      61.363636

**4. Cálculo de eficiencia individual:**

- Agrega una nueva columna: *eficiencia = tareas_completadas / tareas_asignadas*.

In [41]:
df['porcentaje_tareas_completadas'].head()

0    11.111111
1    39.393939
2    20.000000
3     0.000000
4    12.121212
Name: porcentaje_tareas_completadas, dtype: float64

**5. Clasificación de desempeño:**

- Agrega una nueva columna nivel_desempeno:
  - **'Alto'** si calificacion_desempeno >= 4
  - **'Medio'** si entre 3 y 3.99
  - **'Bajo'** si < 3

In [ ]:
df['nivel_desempeno'] =

**6. Promedio de eficiencia y desempeño por sucursal:**

- Agrupa por *sucursal* y muestra el promedio de *eficiencia* y *calificacion_desempeno*.

**7. Ranking de empleados más eficientes por departamento:**

- Para cada departamento, muestra el empleado con mayor eficiencia.

**8. Tasa de puntualidad por departamento:**

- Promedia la *puntualidad_promedio* por *departamento*.

**9. Filtrado de casos críticos para intervención de RRHH:**

- Empleados con desempeño bajo, eficiencia < 0.5 y puntualidad < 85%.

**10. Exporta los resultados críticos:**

- Guarda en un archivo ``intervencion_rrhh.csv`` los empleados que cumplen los criterios anteriores.

### Opcional: Extensión del ejercicio

Usa ``matplotlib`` o ``seaborn`` para graficar:

- La distribución de niveles de desempeño.
- Comparación de eficiencia por sucursal o departamento.