# Data Upload

In [1]:
import pandas as pd

## Load data from a CSV file

In [2]:
#Cargar datos desde un archivo CSV
df_csv = pd.read_csv('data.csv') #asegurarse de tener el archivo data.csv en la misma carpeta que el script
print(df_csv.head())

        Name  Age      Occupation
0     Dereck   25        Engineer
1  Alejandra   28  Data Scientist
2    Charlie   35         Teacher

## Load data from a Excel file

In [3]:
#Cargar datos desde un archivo Excel
df_excel = pd.read_excel('data.xlsx', sheet_name='Hoja1') #requiere openpyxl instalado
print(df_excel.head())

        Name  Age      Occupation
0     Dereck   25       Engineeer
1  Alejandra   28  Data Scientist
2    Charlie   30         Teacher

## Loading data from a JSON file

In [4]:
#Cargar datos desde un archivo JSON
df_json = pd.read_json('data.json')
print(df_json.head())

                                                data
0  {'id': 1, 'name': 'Dereck Mendez', 'age': 25, ...
1  {'id': 2, 'name': 'Alejandra Martinez', 'age':...
2  {'id': 3, 'name': 'Cristian Rodriguez', 'age':...

## Loading data from a SQL database (example with SQLite)

In [5]:
#Cargar datos desde un archivo SQL (ejemplo con SQLite)
import sqlite3

conn = sqlite3.connect('data.db') #asegurarse de tener el archivo data.db en la misma carpeta que el script
df_sql = pd.read_sql_query("SELECT * FROM data", conn)
print(df_sql.head())

conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM data': no such table: data

## Loading data from a URL (example with inline CSV)

In [ ]:
#Cargar datos desde una URL (ejemplo con CSV en linea)
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
df_url = pd.read_csv(url)
print(df_url.head())