# Data Exploration

In [1]:
import pandas as pd

## Load a sample dataset

In [2]:
#Cargar un dataset de ejemplo
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

## Display the first rows of the DataFrame

In [3]:
#Mostrar las primeras 5 filas del dataset
print(data.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Display the last rows of the DataFrame

In [4]:
#Mostrar las últimas 5 filas del dataset
print(data.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

## Get general information about the DataFrame

In [5]:
#Obtener información general del dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

## Get descriptive statistics from the DataFrame

In [6]:
#Obtener estadísticas descriptivas del DataFrame
print(data.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## View the number of rows and columns

In [7]:
#Ver el número de filas y columnas
print(f"Filas y columnas: {data.shape}")

Filas y columnas: (150, 5)

## Get the column names

In [8]:
#Obtener los nombres de las columnas
print(data.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## Count the unique values in each column

In [9]:
#Contar los valores únicos de cada columna
print(data.nunique())

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

## Count the unique values in each specific column

In [10]:
#Contar los valores únicos de cada columna específica
print(data['species'].value_counts())

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## View the data type of each column

In [11]:
#Ver el tipo de datos de cada columna
print(data.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object