# Data Selection

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

## Select a column

In [4]:
#Seleccionar una columna
print(df["species"].head())

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

## Select multiple columns

In [5]:
#Seleccionar varias columnas
print(df[["species", "sepal_length"]].head())

  species  sepal_length
0  setosa           5.1
1  setosa           4.9
2  setosa           4.7
3  setosa           4.6
4  setosa           5.0

## Select rows by index with loc

In [6]:
#Seleccionar filas por indice con loc
print(df.loc[0]) #primer fila

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

## Select a range of rows with loc

In [7]:
#Seleccionar un rango de filas con loc
print(df.loc[0:5]) #primeras 6 filas

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

## Select rows and columns with loc

In [8]:
#Seleccionar filas y columnas con loc
print(df.loc[0:5, ["species", "sepal_length"]])

  species  sepal_length
0  setosa           5.1
1  setosa           4.9
2  setosa           4.7
3  setosa           4.6
4  setosa           5.0
5  setosa           5.4

## Select rows by position with iloc

In [9]:
#Seleccionar filas por posicion con iloc
print(df.iloc[0]) #primer fila

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

## Select a range of rows with iloc

In [10]:
#Seleccionar un rango de filas con iloc
print(df.iloc[0:5])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Select rows and columns with iloc

In [12]:
#Seleccionar filas y columnas con iloc
print(df.iloc[0:5, [0, -1]]) #primeras 5 filas, primera y ultima columna

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

## Select a specific value with loc

In [13]:
#Seleccionar un valor especifico con loc
print(df.loc[0, "species"])

setosa

## Select a specific value with at (faster for a single value)

In [14]:
#Seleccionar un valor especifico con at (mas rapido para un solo valor)
print(df.at[0, "species"])

setosa

## Select a specific value with iloc

In [15]:
#Seleccionar un valor especifico con iloc
print(df.iloc[0, -1])

setosa

## Select a specific value with iat (faster for a single value)

In [16]:
#Seleccionar un valor especifico con iat (mas rapido para un solo valor)
print(df.iat[0, -1])

setosa